body {

  margin: 0;

}

header {
  position: absolute;
  top:0;
  background: #962d3e;
  font-family: 'Lato', sans-serif;
  width:100%;
  padding: 40px 0;
  color: #fafafa;
  margin:0 auto;

}


#top {
  background: #962d3e;
  font-family: 'Lato', sans-serif;
  display:table;
  padding-top:50px;
  width:100%;
  height:100%;
  color: #fafafa;
  margin:0 auto;

}

.container {
  display:table-cell;
  vertical-align: middle;
}

#middle{
  display:table;
  padding-top:50px;
  width:100%;
  height:100%;
  background:#343642;
  color:#f2ebc7;
  overflow:hidden;
}



#video{
  background: #f2ebc7;
  display: table;
  margin: auto;
  width:100%;
  height: 100%;
}

#video iframe{
  display:block;
  width:100%;
  height: 100%;
  max-width:500px;
  max-height:345px;
  margin:auto;
}

#video h2{
  padding: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size:44px;
  color: #343642;
  font-weight: 300;
}

#desc{
  display: block;
  max-width: 600px;
  padding:30px;
  margin:auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align:justify;
}

#imgcontainer {
  max-width:800px;
  margin-left:auto;
  margin-right: auto;
  overflow: hidden;
}

#screenshot {
  display:block;
  height:auto;
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}



#logo {
  font-size: 44px;
  font-weight: 700;
  text-align:center;
}

#subtext {
  font-size:14pt;
  text-align:center;
  font-weight:400;
}

footer {

  color:#f2ebc7;

  background: #979c9c;
  font-family: 'Lato', sans-serif;
  text-align:center;
  padding: 20px 0;
  margin:auto;
  width:100%;

}

footer a {
  display: inline-block;
  color:#f2ebc7;
  text-decoration: none;
  border-botton: 1px solid #ff0;
}

#btn {
  display:block;
  text-decoration: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 25px;
  margin:50px auto;
  background:#f2ebc7;
  color:222;
  border-radius: 2px;
  border: 1px solid #fff;
  width: 100px;
}
